@charset "UTF-8";

html, body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

body {
    background: url('../images/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url('../images/frame-iphone.png') no-repeat;
    width: 311px;
    height: 627px;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;

    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais > a > img {
    width: 50px;
    margin: 5px 3%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.444);
    box-sizing: border-box;
    transition: transform .5s;
}

section#redes-sociais > # {}
section#redes-sociais > # {}
section#redes-sociais > # {}
section#redes-sociais > # {}

section#redes-sociais > a:first-child > img {
    margin-top: 80px; /* ajuste o valor como desejar */
}

section#redes-sociais > a > img:hover {
    transform: scale(1.25);
}

section#redes-sociais > a > img:active {
    background-color: white;
    border: 2px solid rgba(255, 255, 255, 0.601);
}